{% extends "base.html" %}
{% block content %}

<link href="/static/ebook/cards.css" rel="stylesheet" type="text/css">
<!-- card-->
{% for items in posts %}



<div class="card">

  <div class="imgBox">
    <img src="{{items.image.url}}"  style="width:50%">
  </div>

  <div class="contentBox">
    <h2 class="price"> {{items.title}}</h2>
    <h3>By{{items.author}}</h3>
    <h3> {{items.category}}</h3>
    <a href="#" class="buy">Rating {{items.rating}}★</a>
  </div>

</div>
{% endfor %}


{% endblock content %}